{% extends 'base.html' %}

{% block title %}{{verb}} Recipe{% endblock %}


{% block content %}
<h2 class="page_header">{{verb}} Recipe</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form %}
    <div class="form_field">
        {{ field.errors }}
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}

    <fieldset>
        <legend>Ingredients</legend>
        {{ ingredient_forms.management_form}}
        {{ ingredient_forms.non_field_errors }}

        <div id="ingredient_forms">
            {% for ingredient in ingredient_forms %}
            {{ ingredient.non_field_errors }}
            {% for hidden in ingredient.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="flex gap-2">
                <div class="form_field w-24">
                    {{ ingredient.quantity.errors }}
                    {{ ingredient.quantity.label}}
                    {{ ingredient.quantity }}
                </div>
                <div class="form_field w-24">
                    {{ ingredient.unit.errors }}
                    {{ ingredient.unit.label }}
                    {{ ingredient.unit }}
                </div>
                <div class="form_field flex-1">
                    {{ ingredient.name.errors }}
                    {{ ingredient.name.label }}
                    {{ ingredient.name }}
                </div>
                <div class="formset_delete">
                    {% if not forloop.last %}
                    <label>
                        {{ ingredient.DELETE }}
                        <button type="button" class="btn mb-0">X</button>
                    </label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <button type="button" id="add_ingredient_btn" class="btn">+ Ingredient</button>
    </fieldset>

    <fieldset>
        <legend>Steps</legend>
        {{ step_forms.management_form}}

        <div id="step_forms">
            {% for step in step_forms %}
            {{ step.non_field_errors }}
            {% for hidden in step.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="flex gap-2">
                <div class="form_field w-24">
                    {{ step.number.errors }}
                    {{ step.number.label}}
                    {{ step.number }}
                </div>
                <div class="form_field flex-1">
                    {{ step.description.errors }}
                    {{ step.description.label }}
                    {{ step.description }}
                </div>
                <div class="formset_delete">
                    {% if not forloop.last %}
                    <label>
                        {{ step.DELETE }}
                        <button type="button" class="btn mb-0">X</button>
                    </label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add_step_btn" class="btn">+ Step</button>
    </fieldset>

    <div class="text-right">
        <button type="submit" class="btn primary_btn">{{ verb }}</button>
    </div>
</form>


<template id="ingredient_form_template">
    <div class="flex gap-2">
        <div class="form_field w-24">
            {{ ingredient_forms.empty_form.quantity.errors}}
            {{ ingredient_forms.empty_form.quantity.label}}
            {{ ingredient_forms.empty_form.quantity }}
        </div>
        <div class="form_field w-24">
            {{ ingredient_forms.empty_form.unit.errors }}
            {{ ingredient_forms.empty_form.unit.label }}
            {{ ingredient_forms.empty_form.unit }}
        </div>
        <div class="form_field flex-1">
            {{ ingredient_forms.empty_form.name.errors }}
            {{ ingredient_forms.empty_form.name.label }}
            {{ ingredient_forms.empty_form.name }}
        </div>
    </div>
</template>

<template id="step_form_template">
    <div class="flex gap-2">
        <div class="form_field w-24">
            {{ step_forms.empty_form.number.errors}}
            {{ step_forms.empty_form.number.label}}
            {{ step_forms.empty_form.number }}
        </div>
        <div class="form_field flex-1">
            {{ step_forms.empty_form.number.errors}}
            {{ step_forms.empty_form.description.label }}
            {{ step_forms.empty_form.description }}
        </div>
    </div>
</template>

<script>
    document.querySelector('#add_ingredient_btn').addEventListener('click', (e) => {
        e.preventDefault();
        addNewFieldSet('ingredient');
    })

    document.querySelector('#add_step_btn').addEventListener('click', (e) => {
        e.preventDefault();
        addNewFieldSet('step');
    })

    document.querySelectorAll('.formset_delete .btn').forEach((checkbox) => {
        checkbox.addEventListener('click', (e) => {
            const deleteWrapper = e.target.closest('.formset_delete');
            const checkbox = deleteWrapper.querySelector('[type=checkbox]');
            checkbox.checked = !checkbox.checked;
            const isDeleted = checkbox.checked;
            if (isDeleted) deleteWrapper.parentElement.classList.add('deleted');
            else deleteWrapper.parentElement.classList.remove('deleted');
        })
    })

    function addNewFieldSet(type) {
        const count = document.querySelector(`#id_${type}_set-TOTAL_FORMS`).value
        var form_template = document.querySelector(`#${type}_form_template`);
        var clone = form_template.content.cloneNode(true);
        clone.querySelectorAll('label').forEach((label) => {
            label.htmlFor = label.htmlFor.replace('__prefix__', count);
        })
        clone.querySelectorAll('input,textarea').forEach((input) => {
            input.name = input.name.replace('__prefix__', count);
            input.id = input.id.replace('__prefix__', count);
            input.value = '';
            input.checked = false;
        })
        document.querySelector(`#${type}_forms`).appendChild(clone);
        document.querySelector(`#id_${type}_set-TOTAL_FORMS`).value = +count + 1
    };
</script>
{% endblock %}