{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}


{% block content %}

<div class="flex items-center">
    <h2 class="page_header my-2">{{ recipe.name }}</h2>
    <div class="flex-1"></div>
    <nav>
        <a href="{% url 'recipes:update' recipe.id %}">Edit</a>
        <a href="{% url 'recipes:delete' recipe.id %}">Delete</a>
    </nav>
</div>

<small>{{ recipe.time }} minutes | Serves {{ recipe.serves }}</small>

<p>
    {{ recipe.description}}
</p>

<h3 class="section_header">Ingredients</h3>
<ul class="list-disc ml-6">
    {% for ingredient in recipe.ingredient_set.all %}
    <li>{{ ingredient }}</li>
    {% endfor %}
</ul>
<h3 class="section_header">Steps</h3>
<ol class="list-decimal ml-6">
    {% for step in recipe.step_set.all %}
    <li>{{ step.description }}</li>
    {% endfor %}
</ol>
{% endblock %}